

.main{
  width: 100%;
  height: 100vh;
  display: flex;
}
.navbar{
  background-color: rgb(25, 38, 66);
  border: 2px solid black;
  width: 15%;
  height: 130%;
  color: aliceblue;
  text-align: center;
  font-size: 40px;
}
.navbar h2{
  font-size: 15px;
}
body{
  background-color: aquamarine;
}
*{
  margin-top: 0%;
}
img{
  width: 100%;
}
.header{
  background-color: rgb(25, 38, 66);
  width: 100%;
  height: 7rem;
  color: aliceblue;
  padding-top: 35px;
  font-size: 25px;
}
.profile{
  display: flex;
  gap: 10px;
}
.profile-left , .profile-center , .profile-right{
  width: 33.33%;
  height: 30vh;
  text-align: center;
  font-size: 70px;
  border : 2px solid black;
  border-radius: 20px;
  margin-top: 50px;
  box-shadow: 3px 3px 3px black;
}
.profile-left{
  background-color: red;
  color: white;
}
.profile-left h3 , .profile-center h3 , .profile-right h3{
  font-size: 18px;
}
.profile-center{
  background-color: blue;
  color: white;
}
.profile-right{
  background-color: darkgreen;
  color: white;
}
.menu{
  display:flex;
  flex-wrap: wrap;
  gap: 10rem;
  justify-content: center;
}
.c1 , .c2 , .c3 , .c4 , .c5 , .c6 ,.c7{
  text-align: center;
  font-size: 25px;
  width: 200px;
}
h1{
  text-align: center;
}
h2{
  font-size: 50px;
  font-weight: bolder;
}
.c1:hover , .c2:hover , .c3:hover , .c4:hover , .c5:hover , .c6:hover,.c7:hover{
  background-color:cadetblue;
  cursor: pointer;
  border: 1px solid whitesmoke;
  border-radius: 20px;
  color:whitesmoke;
  box-shadow:black 3px  5px;
  position: static;
}